body {
  background-color: rgb(206, 233, 143);
}

.container {
  margin-top: 30px;
}

@media (max-width: 480px) {
  .input-group-addon,
  .input-group-btn,
  .input-group .form-control {
    display: block;
    margin-bottom: 10px;
    clear: both;
  }
  .input-group {
    display: block;
  }

  .container {
    margin-top: 15px;
  }
}
